[buildout]
extends = http://dist.plone.org/release/5.1.2/versions.cfg
          https://raw.githubusercontent.com/UPCnet/ulearn5.buildout/master/versions.cfg
show-picked-versions = true

index = https://pypi.org/simple/
extensions =
    mr.developer

parts =
    instance
    test
    createcoverage
    releaser
    i18ndude
    robot

develop = .
sources-dir = extras
auto-checkout =

find-links = http://pypi.upc.edu/links

# caches, see also .travis.yaml
# one should not depend on '/home/travis' but it seems stable in containers.
eggs-directory = /home/travis/buildout-cache/eggs
download-cache = /home/travis/buildout-cache/downloads

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    Plone
    Pillow
    ulearn5.core [test]

[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
defaults = ['-s', 'ulearn5.core', '--auto-color', '--auto-progress']

[createcoverage]
recipe = zc.recipe.egg
eggs = createcoverage

[coverage]
recipe = zc.recipe.egg
eggs = coverage

[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    export TZ=UTC
    ${buildout:directory}/bin/coverage run bin/test $*
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m
    # Fail (exit status 1) if coverage returns exit status 2 (this happens
    # when test coverage is below 100%.
output = ${buildout:directory}/bin/test-coverage
mode = 755

[robot]
recipe = zc.recipe.egg
eggs =
    ${test:eggs}
    plone.app.robotframework[debug,ride,reload]


[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser


[i18ndude]
recipe = zc.recipe.egg
eggs = i18ndude


[versions]
# Don't use a released version of ulearn5.core
ulearn5.core =

# Build
setuptools =
zc.buildout =
plone.recipe.zope2instance = 4.4.1
plone.app.z3cform = 3.0.4
